 
  #validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }
  #gallery {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  #gallery > li {
    list-style: none;
    padding: 0;
    margin: 15px;
  }
  
  li > img {
    max-width: 100%;
    padding: 15px;
  }